@import url('https://fonts.cdnfonts.com/css/joystix');

:root {
  --background-img-size: 120px;
}

/* CHARACTER MENU STYLES */

#character-menu {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}

#character-select-title {
  z-index: 20;
  color: white;
  font-family: 'Joystix', sans-serif;
  font-size: 2rem;
  margin-top: 10px;
  text-shadow: 1px 1px 5px rgb(33, 33, 33), 1px 1px 5px rgb(33, 33, 33);
  filter: drop-shadow(0 0 0.75rem black);
  animation: fade 3s ease infinite;
}

#character-icon-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  overflow: hidden;
}

.menu-thumb {
  width: auto;
  height: 80px;
}

.menu-thumb:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  transition: 0.3s;
}

/* NAMES AND SUCH  */
#versus {
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 20;
  color: white;
  font-family: 'Joystix', sans-serif;
  text-shadow: 1px 1px 5px rgb(33, 33, 33), 1px 1px 5px rgb(33, 33, 33);
  filter: drop-shadow(0 0 0.75rem black);
  font-size: 6rem;
}

.name-container {
  position: fixed;
  z-index: 20;
  color: white;
  font-family: 'Joystix', sans-serif;
  text-shadow: 1px 1px 5px rgb(33, 33, 33), 1px 1px 5px rgb(33, 33, 33);
  filter: drop-shadow(0 0 0.75rem black);
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.name-container #right-name {
  max-width: 40vw;
  padding-right: 50px;
  overflow-wrap: break-word;
  text-align: right;
}

.name-container #left-name {
  max-width: 40vw;
  padding-left: 50px;
  overflow-wrap: break-word;
  text-align: left;
}

/* CHARACTER PORTRAITS */

#character-select-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#select-gradient {
  position: fixed;
  ;
  width: 100vw;
  height: 50%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
  z-index: 9;
  bottom: 0;
}

#character-left {
  width: 50vw;
}



#character-right {
  transform: scaleX(-1);
  width: 50vw;
}

.portrait-container {
  position: absolute;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100vh;
  min-width: 50vw;
}

.character-profile-image {
  position: absolute;
  overflow: clip;
  z-index: 1;
  bottom: 0;
  flex-shrink: 0;
  height: 100%;
}

.character-profile-bg {
  position: absolute;
  width: 50vw;
  height: 100vh;
}

.profile-repeat-bg {
  position: absolute;
  background-image: url('../../assets/UI/tile-bg.png');
  background-repeat: repeat;
  width: 50vw;
  height: 100vh;
  background-size: var(--background-img-size);
  transition: 0.3s;
}

.background-container {
  transition: 0.3s;
}

.left-repeat {
  animation: scrolling-left 5s linear infinite;
}

.right-repeat {
  animation: scrolling-left 5s linear infinite;
}

@keyframes scrolling-left {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: var(--background-img-size) var(--background-img-size);
  }
}

@keyframes scrolling-right {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position:
      calc(var(--background-img-size) *-1) var(--background-img-size);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.character-profile-image.unflipped {
  animation: left-intro 0.3s ease;
}

.character-profile-image.flipped {
  animation: right-intro 0.3s ease;
}

@keyframes left-intro {
  0% {
    opacity: 0.4;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-intro {
  0% {
    opacity: 0.4;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}